<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jafar Salami">
    <link rel="shortcut icon" type="image/png" href="https://www.starfighters.io/img/favicons/favicon-16x16.png"/>
    <title>Starfighter</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="fa fa-space-shuttle" aria-hidden="true"></i>  Starfighter</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/approach">OUR APPROACH</a></li>     
                <li><a href="/challenges">CHALLENGES</a></li>
                <li><a href="/aboutus">ABOUT US</a></li>        
                <li><a href="https://www.stockfighter.io/">PLAY NOW</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="question">
            <h3>Our Approach</h3><br>
            <ul>
              <li><a href="#zero" >What is Starfighter?</a></li>
              <li><a href="#one">What is a CTF?</a></li>
              <li><a href="#two">How does this work?</a></li>
              <li><a href="#three">How do we get started?</a></li>
              <li><a href="#four">What does an introduction from Starfighter look like?</a></li>
              <li><a href="#five">What is your pricing model?</a></li>
              <li><a href="#six">Do you guarantee candidates?</a></li>
              <li><a href="#seven">Can you build a custom challenge just for us?</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div id="white">
          <h3 id="zero">What is Starfighter?</h3>
                <p>
                    Starfighter is a recruiting company which sources the best engineering candidates in the world using Capture The Flag online programming challenges (CTFs). Our first set is
                    <a href="https://www.stockfighter.io " target="_blank">Stockfighter</a>. We observe our entire player base, discover extraordinarily talented players, and qualify them as candidates by having them talk to an actual engineer about their background and aspirations. If appropriate, we introduce them to our clients as candidates.</p>
                <p>
                    Candidates do not pay a fee to access these challenges. They just like doing these sorts of things for fun.
                </p>
                
        <h3 id="one" class="jump_text">What is a CTF?</h3>
                <p>Starfighter’s challenges are not CS102 Exams As A Service. They’re designed to be fun games which work as games (with a narrative, level design, etc) while also exercising core engineering skills.
                </p>
                <p>
                    A typical level in <a href="https://www.stockfighter.io">Stockfighter</a> has a player using a <a href="https://starfighter.readme.io/">REST API to a stock exchange</a> to implement a market maker, given a brief description of what a market maker is. Another level has players do security research against the same API to “break” a guarantee it makes about anonymity and, for the second phase of the level, do a data analysis task to find out an interesting fact about one other agent (an AI) on the stock exchange.
                </p>
                <p>
                    By construction, candidates that Starfighter refers to clients have advanced levels of programming skills, freeing our clients to focus their interview process on intangibles and routing the candidate to the most appropriate position rather than having them demonstrate that they can reverse a linked list on command.
                </p>
        <h3 id="two" class="jump_text">How does this work?</h3>
                <p>
                    Starfighter’s model searches for aptitude rather than resume bullet points and selects for candidates with demonstrable programming expertise without regards for demographic or experiential background. Our candidates come from fantastically different walks of life, with career stories which don’t necessarily match the typical software engineer’s, but are uniformly fantastic with regards to their ability to actually write code which solves interesting problems.
                </p>
                <p>
                    Our first three candidates:</p>
                    <div id="two">
                    <ul>
                        <li>A newly-minted PhD in Mathematics from Duke University looking for their first job in the software industry, preferably in data science.</li>
                        <li>A Core team member from a Ruby gem which probably more than half of the Ruby ecosystem depends on.</li>
                        <li>A security researcher who has 10+ years of experience in systems administration, network engineering, and software development, and hopes to find a security-focused role which involves shipping code.</li>
                    </ul>
                    </div>
                <p>Who are we working with <em>today</em>? We’d love to tell you; get in touch.</p>
        <h3 id="three" class="jump_text">How do we get started?</h3>
                <p>Email us! <a href="mailto:founders@starfighters.io">founders@starfighters.io</a>
                </p>
                <p>
                    Legal formalities: a signed Letter of Intent which obligates you to pay us if you hire a candidate we referred to you.
                </p>
                <p>
                    Operational issues: we’ll interview you, for less than an hour or so, about what your hiring needs are (where do you hire? what positions are currently open? can you sponsor visas? what seniority levels are interesting to you?), what attributes in candidates are particularly attractive to you, what your job interview process looks like, and what is appealing about your offers.
                </p>
                <p>
                    We do this so that the engineers speaking with candidates on your behalf can both match appropriate candidates with your firm and have a warm conversation with them to get them enthusiastic about getting into your hiring process.
                </p>
        <h3 id="four" class="jump_text">What does an introduction from Starfighter look like?</h3>
                <p>From the candidate’s perspective, an actual engineer (presently, one of the Starfighter founders) has a phone conversation with them about their performance on our challenges, their background, and their aspirations, then tells them a bit about your firm, your opportunity, and asks them if they’re interested. If yes, game on.</p>
                <p>From your perspective: the person you’ve designated as our point of contact receives an email from our placement engineer telling you about the candidate’s performance, background, and why we think they’re a good fit for your firm. We close with a request for you to get in touch with them ASAP; our most successful clients customarily get in touch with candidates within a business day.
                </p>
                <p>
                    After that point, the ball is in your court, but we’ll be in touch with you and with the candidate to make sure things are progressing.
                </p>
        <h3 id="five" class="jump_text">What is your pricing model?</h3>
                <p>We charge companies on a contingency recruiting basis: if you hire a candidate that Starfighter refers to you, you owe us a fee equivalent to X% of their anticipated salary for the first year. X% is set in line with other contingency recruiters in the market you’re hiring in; expect to be quoted between 20% and 30%.</p>
        <h3 id="six" class="jump_text">Do you guarantee candidates?</h3>
                <p>
                    Our stock offer is to guarantee candidates for 12 months from the date of employment, which is substantially better than the market terms for contingency recruiters (generally, 60 to 90 days). If a candidate quits their job or is terminated for cause, we’ll credit their recruiting fee against further candidates placed with you.
                </p>
                <p>
                    If you want different terms for guarantees, we’re amenable to discussing your needs. <a href="mailto:founders@starfighters.io">Drop us a line.</a>
                </p>
        <h3 id="seven" class="jump_text">Can you build a custom challenge just for us?</h3>
                <p>We’d be happy to talk about your needs. <a href="mailto:founders@starfighters.io">Get in touch with us.</a>
                </p>
        <br>
        </div>
        </div>
      </div>
    </div>
    
    
    <div class="black-info">
      <div class="container">
        <div class="col-md-4">
          <h3>About Starfighter</h3>
          <hr>
                    <p style="font-size:16px;">Starfighter is not here to fix the job
                    interview. We're here to <b>destroy</b> it, and
                    replace it with something better. We're going to
                    build a community of makers who have fun doing
                    what they love, and show the tech industry how
                    easy it is to hire talented people if you're
                    committed to doing that.</p>
                    <p style="font-size:16px;">
                        <a href="privacy.html">Privacy Policy</a>
                        <br />
                        <a href="terms.html">Terms and Conditions</a>
                    </p>
        </div>
        <div class="col-md-4">
          <h3 >Get Updates</h3>
          <hr>
                    <p style="font-size:16px;">We can send you about one email a week with news about Starfighter's upcoming CTFs and thoughts on what we're going through building them, all written by Patrick, Thomas, and Erin.</p>
                    <form method="post" action="https://www.getdrip.com/forms/3662545/submissions" name="bottom-subscribe" data-drip-embedded-form="3662545" id="bottom-subscribe">
                        <input type="email" name="fields[email]" class="form-control" id="email" placeholder="Enter E-mail" width="2px">
                        <br>
                        <button type="submit" name="submit" value="Get The Emails" class="btn btn-default">Submit</button>
                    </form>
        </div>
        <div class="col--md-4">
          <h3>Get in Touch</h3>
          <hr>
              <a href="https://twitter.com/cusu?lang=en-gb"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="https://www.facebook.com/CoventrySU/"><i class="fa fa-facebook-official fa-2x"></i></a>
              <a href="https://www.youtube.com/channel/UCW4PH3Cy_cfBgzb9MR0lgRQ"><i class="fa fa-youtube fa-2x"></i></a>
        </div>
        </div>
    </div>
 
          <footer class="footer">
              <div class="container">
            <div class="col-md-12" style="background-color: black;">
              <h5 style="color:white">Created By Jafar Salami</h5>
            </div>
      </div>    
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>